legacy-peer-deps=true
audit=false
fund=false
strict-peer-deps=false
force=true
maxsockets=1
fetch-timeout=60000
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
fetch-retries=5
unsafe-perm=true
